<link rel="stylesheet" href="~/Content/main.css" />
<section id="banner">
    <div class="inner">
        <header>
            <h1>Exciting cities</h1><br>
        </header>
        <a href="#main" class="button big scrolly">Learn More</a>
    </div>
</section>
    </div>
<footer id="main">
    <section class="wrapper style1">
        <div class="inner">

            <div class="flex flex-2">
                <div class="col col1">
                    <div class="image round fit">
                        <img src="~/images/berlin.jpg" alt="" /></a>
                    </div>
                </div>
                <div class="col col2">
                    <h3>Berlin</h3>
                    <p>
                        Over the past few years, Berlin has really come into its own;
                        fast-changing, infused with youth culture, and eager to prove itself as one of the world’s great cosmopolitan cities.
                        The city has a large young population, thanks in large part to its affordability.
                        It is also popular with creatives of all types working in film, fashion, music and the visual arts,
                        resulting in an endlessly stimulating and ever-changing environment.
                        Berlin also boasts some of the world’s best nightlife.
                    </p>
                    <p>
                        Cheap beer, late-closing times, and the seamless co-existence of edgy underground venues with techno-pumping super clubs makes it a night owl’s dream.
                        Beyond this, there’s always something new and unique to discover to awaken the senses and inspire the mind,
                        from innovative architecture to evocative artwork and ultra-cool gentrified neighborhoods.
                    </p><br>
                    <a href="https://en.wikipedia.org/wiki/Berlin" class="button">Learn More</a>
                </div>
            </div>
        </div>
    </section>


    <section class="wrapper style2">
        <div class="inner">
            <div class="flex flex-2">
                <div class="col col2">
                    <h3>London</h3>
                    <p>
                        London is a a key world capital with more than enough sights,
                        activities, shows, events and festivities to occupy an entire lifetime.
                        It is perhaps the most multicultural city in the world.
                        Decades of immigration have created an invigorating melting pot of people,
                        cultures and food. Highlights of the British capital include its iconic landmarks,
                        relentless and bustling street life, historical monuments and museums, market shopping,
                        and, of course, the nightlife. From hundreds of cozy pubs to world-class super clubs,
                        London will keep you dancing until dawn.
                    </p>
                    <a href="https://en.wikipedia.org/wiki/London" class="button">Learn More</a>
                </div>
                <div class="col col1 first">
                    <div class="image round fit">
                        <img src="~/images/london.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper style1">
        <div class="inner">

            <div class="flex flex-2">
                <div class="col col1">
                    <div class="image round fit">
                        <img src="~/images/rio.jpg" alt="" /></a>
                    </div>
                </div>
                <div class="col col2">
                    <h3>Rio de Janeiro</h3>
                    <p>
                        One of South America’s best-loved destinations,
                        Rio is renowned for its festivals and laid-back beach vibe.
                        The proximity of the coast and mountains provide plenty of outdoor thrills,
                        from football to surfing to hang gliding, all guaranteed to get the adrenaline pumping.
                        Time your visit to co-incide with the Rio Carnival, the biggest festival in the world
                        , which is held every year before Lent, and you’ll witness colorful parades,
                        energetic samba dancing, fireworks,
                        larger-than-life characters and strings of endless street parties.
                    </p><br>
                    <a href="https://en.wikipedia.org/wiki/Rio_de_Janeiro" class="button">Learn More</a>
                </div>
            </div>
        </div>
    </section>


    <section class="wrapper style2">
        <div class="inner">
            <div class="flex flex-2">
                <div class="col col2">
                    <h3>Las Vegas</h3>
                    <p>
                        One of world’s most infamous destinations,
                        this pulsating city with its gambling heart,
                        situated right in the heart of the Nevadan desert,
                        is an assault on the senses. Cruising up and down the Strip,
                        the theme park feel,
                        sheer decadence and sense of unrestricted revelry create a buzzing energy.
                        Gigantic 24-hour casinos offer an incessant stream of thrills,
                        fueling dreams of hitting a fortune. World-class performances, concerts, exhibits, and
                        dancing fountains will keep you entertained at all hours. On top of all this,
                        Las Vegas has some of the most lavish accommodation to be found anywhere.
                    </p>
                    <a href="https://en.wikipedia.org/wiki/Las_Vegas" class="button">Learn More</a>
                </div>
                <div class="col col1 first">
                    <div class="image round fit">
                        <img src="~/images/vegas.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper style1">
        <div class="inner">

            <div class="flex flex-2">
                <div class="col col1">
                    <div class="image round fit">
                        <img src="~/images/sidnej.jpg" alt="" /></a>
                    </div>
                </div>
                <div class="col col2">
                    <h3>Sidney</h3>
                    <p>
                        Australia’s most popular city is a cosmopolitan,
                        exuberant metropolis, with a diverse population, world-beating
                        attractions and a laid-back feel. An outdoor lover’s paradise, it’s home
                        to the world’s most striking harbor, with its beautiful coastline and iconic
                        architecture, along with a host of other stunning natural attractions.
                        Adrenaline junkies will find plenty to occupy their time.
                        Get your thrills surfing at the iconic beaches, embark on a nerve-jangling jet boat ride under
                        the Harbor Bridge, or dive with sharks at Manly Sea Life Sanctuary. Complement all
                        this with a booming foodie scene, dynamic cultural landscape, and vibrant nightlife,
                        and Sydney is hard to beat.
                    </p><br>
                    <a href="https://en.wikipedia.org/wiki/Sydney" class="button">Learn More</a>
                </div>
            </div>
        </div>
    </section>
