<link rel="stylesheet" href="~/Content/main.css" />
<body class="subpage">
    @{
        Html.RenderPartial("_Navigacioni");
    }
    <div id="main">

        <section class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h1>About</h1>
                </header>
                <div class="flex flex-2">
                    <div class="col col2">
                        <h3>@ViewBag.Message</h3>
                        <p>
                            A city proper is a locality defined according to legal or
                            political boundaries and an administratively recognised urban status
                            that is usually characterised by some form of local government.
                            In some cases, cities proper may not include suburbs or even parts of the urban core
                            whereas in other cases the boundaries may include non-contiguous urban settlements or even rural areas.
                            World Urbanization Prospects, a UN publication, defines the population of a city proper
                            as "the population living within the administrative boundaries of a city or controlled directly from the city
                            by a single authority." The book continues to say that "city proper as defined by administrative boundaries
                            may not include suburban areas where an important proportion of the population working or studying
                            in the city lives."The UN also employs two alternative definitions of cities that use arbitrarily
                            defined boundaries (urban area and metropolitan area) since no single definition for a city can be applied
                            to compare every settlement. Using the administrative definition, many cities will be smaller than their urban
                            area. In contrast, many Chinese cities govern territories that extend well beyond the traditional "city proper"
                            into suburban and rural areas.
                        </p>
                        <div class="col col1 first">
                        </div>
                    </div>
                    <p>Inspirational, intriguing cities are dotted all over the world offering visitors enriching experiences, brushing with fascinating eras of history, embracing different cultures and enjoying delicious culinary creations. I have been lucky enough to visit some of the world’s most iconic cities, as well as some lesser known gems. In a city we can see the culmination of mankind’s talent, with wonderful manifestations of our cultural, artistic and intellectual achievements. Exploring a city is like unwrapping the essence, culture and history of its natives and their environment. Tasting the local foodie offerings is not only an opportunity to sample the flavours and traditional dishes of the city, but it often tells us something about the people themselves.</p>

                </div>
        </section>


</body>
